.box-header {
    display: flex;
    justify-content: space-between;
}

.box-header .box-title {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.mr10 {
    margin-right: 10px;
}

.mt20 {
    margin-top: 10px;
}

.btn {
    padding: 6px 12px;
}

.btn-header {
    background-color: #555;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-find {
    float: right;
    padding: 10px;
}

.box-body .btn-group {
    float: left;
    padding: 10px;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-default:hover {
    background-color: #e7e7e7;
}

button {
    border: none;
    outline: none;
}

.custom-row .MuiDataGrid-cell {
    border-top: 1px solid #f4f4f4;
    padding: 8px;
    font-size: 13px;
}

.custom-row .MuiDataGrid-row {
    height: 35px !important;
}

.css-az8st9-MuiDataGrid-root .MuiDataGrid-cell--textRight {
    justify-content: center !important;

}

.css-az8st9-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
    justify-content: center !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
}

.btn-options {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1300;
    overflow: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 0.3s ease, height 0s 0.3s;
}

.popup-content {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 300px;
    background: #fff;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10%;
}

.popup-inner {
    padding: 20px;
    position: relative;
    width: 100%;
}

.popup-overlay.active {
    opacity: 1;
    height: 100%;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.85);
}

.popup-content.active {
    transition: transform 0.3s ease;
}

.popup-inner button {
    position: relative;
    z-index: 1;
}

.MuiTooltip-tooltip {
    z-index: 99999;
    position: relative;
    display: block;
}

.form-header {
    color: #444;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.form-body {
    color: #737373;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-group .select-form {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px;
    width: 100%;
}

select:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.row-form {
    display: flex;
    margin-bottom: 15px;
}

.select-form-Gr {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px;
    width: 100%;
}

.w-75 {
    width: 75%;
}

.big-input {
    width: 95%;
}

.form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.help-block {
    display: block;
    color: #737373;
    font-size: 12px;
}

.btn-new {
    color: #fff !important;
    background: #555 !important;
    width: 50px;
}

.btn-save {
    display: flex;
    justify-content: center;
}

.collapsed-box {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.collapsed-box .box-tilte {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.MuiDataGrid-columnHeader .MuiDataGrid-columnHeader--alignCenter .MuiDataGrid-withBorderColor .MuiDataGrid-columnHeaderCheckbox {
    width: 200px !important;
}

.MuiDataGrid-columnHeader {
    min-width: 200px !important;
}

.MuiDataGrid-cell--withRenderer {
    min-width: 200px !important;
}

.MuiDataGrid-cell {
    min-width: 200px !important;
}

/* .css-gl260s-MuiDataGrid-columnHeadersInner {
    justify-content: center !important;
    align-items: center !important;
} */

.css-1iyq7zh-MuiDataGrid-columnHeaders {
    display: block !important;
    width: 100%;
}

.MuiDataGrid-withBorderColor {
    display: none;
}

.icon-input {
    padding: 6px 6px;
    height: 34px;
    border: 1px solid #d2d6de;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-155rvee-MuiResponsiveChart-container {
    width: 100% !important;
}