ul {
    margin: 0;
    padding: 0;
}

.p-r {
    position: relative;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.header-wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-left,
.navbar-right {
    height: 100%;
}

.navbar-left .nav,
.navbar-right .nav {
    display: flex;
    height: 100%;
}

.navbar-left .nav a,
.navbar-right .nav a {
    padding: 10px 15px;
}

.navbar-left .nav .link-header,
.navbar-right .nav .link-header {
    display: flex;
    height: 100%;
    align-items: center;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.navbar-left .nav .link-header.none-border-left {
    border-left: none !important;
}

.nav>li>a {
    color: #333;
}

.navbar-left .nav .title,
.navbar-right .nav .title {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.fix-height {
    min-height: 50px !important;
}

.note {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: 0.9;
    background-color: #00a65a !important;
    color: #fff;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: #222d32 !important;
}

.css-hyum1k-MuiToolbar-root {
    padding-right: 0px !important;
}